* {
  padding: 0;
  margin: 0;
  box-sizing: border box;
}

.cuerpo {
  background-color: rgba(241, 238, 178, 0.781);
}

h1 {
  color: white;
  font-size: 50px;
  font-family: comic sans monospace;
  text-align: center;
  display: grid;
}

.encabezado {
  background-image: url(..//Imagenes/panes.jpg);
  backface-visibility: hidden;
  width: auto height 250px;
}

div .bienvenidos {
  color: rgb(140, 56, 8);
  font-size: 40px;
  font-family: Georgia, "Times New Roman", Times, serif;
  text-align: center;
  margin: 50px;
  padding: 100px;
  line-height: 1;
  width: 700px;
  height: 200px;
  display: inline-block;
}

.bloque2 {
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-template-areas: "bienvenidos Golfeado carrito";
}

.bienvenidos {
  grid-area: bienvenidos;
}

.Golfeado {
  grid-area: Golfeado;
}

.carrito {
  grid-area: carrito;
}

.carrito {
  position: fixed;
  justify-self: right;
  padding-right: 50px;
}

.lineas {
  border-top: 1 brown;
}

.Golfeado {
  align-self: center;
}

.carrucel {
  background: linear-gradient(135deg, #f0b7a1 0%, #8c3310 50%, #752201 51%, #bf6e4e 100%);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 0.3fr 0.3fr 1fr 0, 5fr 0, 5fr 0, 5fr 0fr;
  gap: 0px 0px;
  grid-template-areas: "linea1 linea1 linea1 linea1 linea1 linea1" ". . imput imput imput imput" "nosotros nosotros nosotros . . ." "nosotros nosotros nosotros . . ." "nosotros nosotros nosotros productos productos productos" ". . . productos productos productos" ". . . productos productos productos" ". . . productos productos productos";
}
.carrucel .linea1 {
  grid-area: linea1;
}
.carrucel .imput {
  grid-area: imput;
}
.carrucel .nosotros {
  grid-area: nosotros;
}
.carrucel .productos {
  grid-area: productos;
}
.carrucel .nosotros {
  opacity: 0.8;
}
.carrucel .imput {
  color: rgba(242, 230, 162, 0.801);
  font-size: 25px;
  font-family: Georgia, "Times New Roman", Times, serif;
  text-align: right;
  height: 100px;
  padding: 50px;
}
.carrucel .nosotros {
  padding: 10px;
  line-height: 1.5;
  width: auto;
  height: 400px;
  justify-self: center;
  text-align: center;
  color: aliceblue;
  border: 5px double rgba(236, 124, 11, 0.92);
}
.carrucel .nosotros:hover {
  opacity: 1;
  border: solid white;
}
.carrucel .productos {
  opacity: 0.8;
}
.carrucel .productos:hover {
  opacity: 1;
  border: solid white;
}
.carrucel .productos {
  padding: 10px;
  line-height: 1, 5;
  width: auto;
  height: 600px;
  justify-self: center;
  text-align: center;
  color: aliceblue;
  border: 5px double rgba(236, 124, 11, 0.92);
}

h3 .imput {
  color: rgba(242, 230, 162, 0.801);
  font-size: 25px;
  font-family: Georgia, "Times New Roman", Times, serif;
  text-align: right;
  height: 100px;
  padding: 50px;
}

div .nosotros {
  padding: 10px;
  line-height: 1.5;
  width: auto;
  height: 400px;
  justify-self: center;
  text-align: center;
  color: aliceblue;
  border: 5px double rgba(236, 124, 11, 0.92);
}
div .nosotros:hover {
  opacity: 1;
  border: solid white;
}

div .productos {
  opacity: 0.8;
}
div .productos:hover {
  opacity: 1;
  border: solid white;
}
div .productos {
  padding: 10px;
  line-height: 1, 5;
  width: auto;
  height: 600px;
  justify-self: center;
  text-align: center;
  color: aliceblue;
  border: 5px double rgba(236, 124, 11, 0.92);
}

footer .rrss {
  text-align: center;
  height: 100px;
}

/* NOSOTROS */
/* NOSOTROS */
/* NOSOTROS */
/* NOSOTROS */
/* NOSOTROS */
.bodynosotros {
  background-image: url(..//Imagenes/gris2.jpg);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  padding: 10px;
  margin: 0;
  min-height: 100vh;
}
.bodynosotros .bodynosotros {
  display: grid;
  grid-template-columns: 0.5FR 0.5FR 0.5FR 0.5FR;
  grid-template-rows: 0.5fr 0.3fr 1fr 0.3fr 1fr 0.3fr 1fr 0.3fr;
  gap: 0px 0px;
  grid-template-areas: "encabezadoN encabezadoN encabezadoN encabezadoN encabezadoN" ". . nosotros1 nosotros1 nosotros1" "minevideo minevideo minevideo . ." ". . nosotros2 nosotros2 nosotros2" "videodulce videodulce videodulce . ." ". . nosotros3 nosotros3 nosotros3" "cachitovideo cachitovideo cachitovideo . ." ". . nosotros4 nosotros4 nosotros4" "moravideo moravideo moravideo . ." ". . nosotros5 nosotros5 nosotros5" "rrss2 rrss2 rrss2 rrss2 rrss2";
}
.bodynosotros .encabezadoN {
  grid-area: encabezadoN;
}
.bodynosotros .nosotros1 {
  grid-area: nosotros1;
}
.bodynosotros .minevideo {
  grid-area: minevideo;
}
.bodynosotros .nosotros2 {
  grid-area: nosotros2;
}
.bodynosotros .videodulce {
  grid-area: videodulce;
}
.bodynosotros .nosotros3 {
  grid-area: nosotros3;
}
.bodynosotros .cachitovideo {
  grid-area: cachitovideo;
}
.bodynosotros .nosotros4 {
  grid-area: nosotros4;
}
.bodynosotros .moravideo {
  grid-area: moravideo;
}
.bodynosotros .nosotros5 {
  grid-area: nosotros5;
}
.bodynosotros .rrss2 {
  grid-area: rrss2;
}
.bodynosotros .encabezadoN .logoreal2 {
  flex-direction: row;
  position: absolute;
}
.bodynosotros .encabezadoN .nosotrosx {
  display: grid;
  color: rgba(114, 10, 10, 0.409);
  height: 150px;
  background-color: black;
  background-size: cover;
}
.bodynosotros .encabezadoN .nosotrosx {
  justify-content: center;
  color: rgb(232, 235, 237);
  font-size: 100px;
  margin: 10;
}
.bodynosotros .nosotros a {
  color: rgb(249, 249, 249); /* Cambia el color del texto a negro */
  text-decoration: none; /* Opcional: elimina el subrayado del enlace */
}
.bodynosotros .nosotros1 {
  padding: 5px;
  margin: auto;
  font-size: 200;
  line-height: 1.5;
  width: auto;
  height: 120px;
  justify-self: center;
  text-align: center;
  background-color: black;
  color: beige;
  overflow: auto;
}
.bodynosotros .nosotros1 {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 20px;
  border: 5px double rgba(245, 216, 154, 0.92);
}
.bodynosotros .nosotros2 {
  padding: 10px;
  margin: auto;
  line-height: 1.5;
  width: auto;
  height: 300px;
  justify-self: center;
  text-align: center;
  background-color: black;
  color: beige;
}
.bodynosotros .nosotros2 {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 20px;
  border: 5px double rgba(245, 216, 154, 0.92);
}
.bodynosotros .nosotros3 {
  padding: 10px;
  margin: auto;
  line-height: 1.5;
  width: auto;
  height: 200px;
  justify-self: center;
  text-align: center;
  background-color: black;
  color: beige;
}
.bodynosotros .nosotros3 {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 20px;
  border: 5px double rgba(245, 216, 154, 0.92);
}
.bodynosotros .nosotros4 {
  padding: 10px;
  margin: auto;
  line-height: 1.5;
  width: auto;
  height: 180px;
  justify-self: center;
  text-align: center;
  color: rgb(62, 42, 4);
  border: 5px double rgba(236, 124, 11, 0.92);
  background-color: black;
  color: beige;
}
.bodynosotros .nosotros4 {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 20px;
  border: 5px double rgba(245, 216, 154, 0.92);
}
.bodynosotros .nosotros5 {
  padding: 10px;
  margin: auto;
  line-height: 1.5;
  width: auto;
  height: 150px;
  justify-self: center;
  text-align: center;
  color: rgb(62, 42, 4);
  border: 5px double rgba(236, 124, 11, 0.92);
  background-color: black;
  color: beige;
}
.bodynosotros .nosotros5 {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 20px;
  border: 5px double rgba(245, 216, 154, 0.92);
}
.bodynosotros .minevideo {
  width: 500px;
  padding: 10px;
  justify-self: left;
}
.bodynosotros .videodulce {
  width: 500px;
  padding: 15px;
  justify-self: left;
}
.bodynosotros .cachitovideo {
  width: 500px;
  padding: 15px;
  justify-self: left;
}
.bodynosotros .moravideo {
  width: 500px;
  padding: 15px;
  justify-self: left;
}
.bodynosotros .canelones {
  width: 500px;
  padding: 15px;
  justify-self: left;
}
.bodynosotros .rrss2 {
  text-align: center;
  height: 100px;
  justify-self: center;
}

/* FORMULARIO*/
/* FORMULARIO*/
/* FORMULARIO*/
/* FORMULARIO*/
/* FORMULARIO*/
/* FORMULARIO*/
/* FORMULARIO*/
.formu {
  background-color: #080808;
}
.formu .encaFormu {
  background-color: #0e0501;
  text-align: center;
  color: aliceblue;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.formu .preguntas {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px;
  font-family: Georgia, "Times New Roman", Times, serif;
  background-image: url(..//Imagenes/fondo\ nosotros.jpg);
  mask-repeat: no-repeat;
}
.formu .preguntas .Formulario {
  background-color: rgba(241, 238, 178, 0.781);
  padding: 40px;
  border-radius: 30px;
}
.formu .footerRRSS {
  text-align: center;
  height: 100px;
  background-color: rgba(221, 195, 155, 0.954);
}

/* Nuestros productos*/
/* Nuestros productos*/
/* Nuestros productos*/
/* Nuestros productos*/
/* Nuestros productos*/
/* Nuestros productos*/
.productos {
  background-color: #080808;
}
.productos .bodyproduct {
  background: linear-gradient(135deg, #f0b7a1 0%, #8c3310 50%, #752201 51%, #bf6e4e 100%);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.productos .grupo1 {
  padding: 30px;
}
.productos .grupo2 {
  padding: 30px;
}
.productos .grupo3 {
  padding: 30px;
}
.productos .encaProduc {
  background-color: #0e0501;
  align-items: center;
}
.productos .footerProd {
  text-align: center;
  padding: 20px;
  height: 100px;
  background-color: rgba(241, 238, 178, 0.781);
}

/* RECETAS*/
/* RECETAS*/
/* RECETAS*/
/* RECETAS*/
.bodyrecetas {
  display: flex;
  align-items: center;
}

.video1 {
  padding: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.video2 {
  padding: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.video3 {
  padding: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.rrssRecetetas {
  text-align: center;
  height: 100px;
  background-color: rgba(221, 195, 155, 0.954);
}

/* media QUERRIES carrucel*/
/* media QUERRIES carrucel*/
/* media QUERRIES carrucel*/
/* media QUERRIES carrucel*/
@media SCREEN and (MAX-WIDTH: 768PX) {
  .carrucel {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0.1fr 0.8fr 0.5fr;
    grid-template-areas: "linea1 linea1 linea1" "imput imput imput " "nosotros nosotros nosotros" " productos productos productos";
    justify-content: center;
    padding: 0;
    margin: 2fr;
  }
  .bloque2 {
    grid-template-columns: 0.5fr;
    grid-template-rows: 0.1fr 0.1fr 0.1fr;
    grid-template-areas: "bienvenidos" "Golfeado" "carrito";
    justify-content: center;
    align-items: center;
  }
  .bloque2 img.Golfeado {
    display: block;
    margin: 0 auto;
  }
  .bloque2 img.carrito {
    position: absolute;
  }
  .bodynosotros {
    display: grid;
    grid-template-columns: 0.5FR;
    grid-template-rows: 0.6fr;
    gap: 0px 0px;
    grid-template-areas: "encabezadoN" "nosotros1" "minevideo" "nosotros2" "videodulce" "nosotros3" "cachitovideo" "nosotros4" "moravideo" "nosotros5" "rrss2";
  }
  .nosotros5 {
    height: auto;
  }
  .bodynosotros {
    justify-content: center;
    align-content: center;
  }
  /* FORMULARIO*/
  /* FORMULARIO*/
  .formu {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
  }
  .footerRRSS {
    background-color: rgba(241, 238, 178, 0.781);
  }
  .productos {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    padding: 50px;
  }
  .bodyrecetas {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    padding: 50px;
  }
}

/*# sourceMappingURL=stilo.css.map */
